/* 
* @Author: Marte
* @Date:   2017-04-10 14:51:10
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-10 14:52:26
*/
        .color-black{ color:#000;}
        .title01{ 
            padding-left: 30px;
            width:40%;
            line-height: 40px;
            height:40px;
            background:#ccc;
            margin-top: 25px;
            margin-left: 15px;
            color:#5677FC;
            font-size: 16px;
        }
        .title02{margin-top: 268px;}
        .ck:first-child{margin-left: 15px; float:left;border-right: 1px solid #ccc;margin-top: 30px;height:30px;}
        .ck{float:left;margin-top: 30px;height:30px;}
        .anjian1{ width: 100px; height:130px;color:#fff;line-height: 60px;padding:10px;text-align: center;margin-left: 50px;margin-top: 40px;float:left;margin-bottom: 80px;display:block;}
        .an1{background:#9CCC65;}
        .an2{background:#FF6091;}
        .an3{background:#FF7043;}
        .an4{background:#7E57C2;}
        .an5{background:#2BAF2B;}